<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <!-- <meta
          http-equiv="Content-Security-Policy"
          content="default-src 'self'; script-src 'self'"
        /> -->
        <!-- <meta
          http-equiv="X-Content-Security-Policy"
          content="default-src 'self'; script-src 'self'"
        /> -->
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'none'"> -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self';">
        <link href=".././output.css" rel="stylesheet">
        <title>Work PDF!</title>
        <!-- <script type="module" src="./app.js"></script> -->
      </head>
      <body>

        <section id="nav">
          <div class="navbar bg-base-300">
            <div class="flex-1">
                <a href="../index.html" class="btn btn-ghost text-xl" data-navigo>IPDF</a>
            </div>
            
            <div class="dropdown dropdown-end">
              <div tabindex="0" role="button" class="btn m-1 btn btn-square btn-ghost"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg></div>
              <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
                <li><a href="./split.html">Split</a></li>
                <li><a href="./merge.html">Merge</a></li>
                <li><a href="./remove.html">Remove</a></li>
              </ul>
            </div>
          </div>
        </section>
          
        <main id="main">
            <section id="split">
                <div class="place-content-center text-center mt-6">
                  <h1 class="text-5xl font-bold">Split PDF file</h1>
                  <p class="py-6">Separate one page or a whole set for easy conversion into independent PDF files.</p>
                  <input type="file" class="file-input w-full max-w-xs file-input-primary" />
                </div>
              </section>
      
      </main>

      
      </body>
</html>